* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background-color: teal;
  font-family: monospace;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  margin-right: -10px;
  flex-flow: row wrap;
  background-color: tomato;
}
.row:last-child {
  margin-bottom: -10px;
}

.col {
  flex: 1 1 auto;
  background-color: yellow;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}