* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    padding: 0 40px;
  }
}

/* HEADER */
.header {
  background-color: coral;
}

/* NAVIGATION */

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__logo {
  padding: 5px;
  font-size: 34px;
  text-align: center;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.nav__item {
  width: 100%;
	text-align: center;
}

.nav__link {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}

.nav__link:hover {
  color: white;
}

@media (min-width: 576px) {
  .nav__list {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .nav {
    min-height: 40px;
    width: 100%;
    flex-direction: row;
  }
}

/* CARD */

.card__wrapper {
  margin: 10px -10px;
  display: flex;
  flex-direction: column;
}

.card {
  margin: 10px;
  padding: 10px;
  flex-basis: 440px;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  border-radius: 12px;
  overflow: hidden;
}

.card__title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 26px;
}
.card__img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

@media (min-width: 576px) {
  .card__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    height: 440px;
    flex: 1 0 230px;
    max-width: 250px;
  }
}

@media (min-width: 992px) {
  .card {
    flex: 1 0 260px;
    max-width: 280px;
  }
}

/* FOOTER */
.footer {
  padding: 20px 0;
  background-color: darkcyan;
}

.social {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.social__icon {
  width: 100%;
  background-color: lightcoral;
}

.social__link {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}

.social__link:hover {
  color: chartreuse;
}

@media (min-width: 576px) {
  .social {
    flex-direction: row;
  }
}